.big-field {
  display: flex;
  flex-direction: column;

}

.big-span {
  color: #A6A6A6;
  font-family: "Suisse Intl";
  margin: 0;
  padding: 0 0 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.big-input {
  min-height: 86px;
  padding: 12px 16px;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #D9D9D9;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-height: 48px;
  font-family: "Suisse Intl";
  min-width: 728px;
  max-width: 728px;
}

.big-input:focus {
  outline: none;
  border: 1px solid #D9D9D9;
}

.big-input::placeholder {
  color: #A6A6A6;
}
