.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.catalog-button {
  width: 392px;
  height: 444px;
  position: absolute;
  top: 308px;
  left: 524px;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.catalog-demo {
  width: 100%;
}