.tour {
  margin: 0 108px;
}
 
/* Меню */

.nav-tab {
  background-color: #FFFFFF;
  padding: 40px 0 0;
  margin: 40px 0 0;
  display: flex;
  column-gap: 32px;
  position: sticky;
  top: 0;
}

.nav-tab__item {
  display: flex;
  padding-bottom: 16px;
  align-items: flex-start;
  gap: 10px;
}

.nav-tab__link {
  color: #A6A6A6;
  font-family: "Proto Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.nav-tab__link_active {
  color: #1D1D1D;
  border-bottom: 3px solid #E5B900;
}

/* Основное */

.shortcut {
  display: flex;
  column-gap: 24px;
  justify-content: end;
}

.shortcut__info {
}

.shortcut__title {
  margin: 0;
  padding: 0;
  font-family: 'Proto Grotesk';
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.shortcut__tag-list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  display: flex;
  column-gap: 16px;
  row-gap: 8px;
}

.shortcut__tag {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.shortcut__tag-icon {
  width: 16px;
  height: 16px;
}

.shortcut__tag-name {
  margin: 0;
  padding: 0;
  font-family: "Suisse Intl";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.shortcut__buttons {
  min-width: 390px;
  border: red 1px solid;
}

/* Программа тура */

.plan {
  margin-top: 40px;
}

.plan__title {
  margin: 0;
  padding: 0;
  font-family: "Proto Grotesk";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.plan__day {
  margin-top: 32px;
}

.plan__day-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan__day-number-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.plan__day-number-bg {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: #1D1D1D;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.plan__day-number {
  margin: 0;
  padding: 0;
  font-family: "Proto Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}

.plan__day-text {
  font-family: "Proto Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.plan__day-arrow {

}

.plan__day-schedule {
  margin: 16px 0 0 23px;
  padding-left: 23px;
  border-left: 2px solid #EBEBEB;
}

.plan__day-schedule-item {

}

.plan__day-time {
  margin: 0;
  padding: 16px 0 0 28px;
  font-family: "Suisse Intl";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.plan__day-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__day-bullet {
  margin: 0;
  padding: 8px 0 0 8px;
  display: flex;
  align-items: center;
}

.plan__day-bullet-dot {
  width: 8px;
  height: 8px;
  background-color: #D9D9D9;
  border-radius: 4px;
}

.plan__day-bullet-text {
  margin: 0;
  padding: 0 0 0 12px;
  font-family: "Suisse Intl";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.plan__day-extra {
  display: flex;
  column-gap: 24px;
  padding: 24px 0 0 8px;
}

.plan__day-extra-item {
  width: 152px;
  height: 254px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 4px;
}

.plan__day-extra-about {
  margin: 0;
  padding: 0;
  font-family: "Suisse Intl";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.8;
}

.plan__day-extra-name {
  max-height: 48px;
  margin: 0;
  padding: 0;
  font-family: "Suisse Intl";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Прочее */

.photo-blog-pic {
  padding: 40px 0 0;
  width: 100%;
}

.about-pic {
  padding: 24px 0 0;
  width: 100%;
}

.plan-pic {
  padding: 40px 0;
  width: 100%;
}

.faq-pic {
  padding: 40px 0 0;
  width: 100%;
}

.cols {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  width: 808px;
}

.col-2 {
  display: flex;
  padding: 16px;
  margin: 40px 0 0;
  background-color: #F5F5F5;
  position: sticky;
  top: 40px;
  max-height: 200px;
}

.col-2-form {
  flex-direction: column;
  border-radius: 16px;
  row-gap: 16px;
}

.booking {
  margin-top: 56px;
}

.booking-1 {
  padding: 24px;
  width: 760px;
  height: 640px;
  border-radius: 20px;
  background-color: #F5F5F5;
}

.booking-2 {
  
}

.booking-title {
  margin: 0;
  padding: 0;
  font-family: "Proto Grotesk";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.booking-auth-button {
  width: 100%;
  padding: 16px 0;
}

.booking-form {
  display: flex;
  justify-content: space-between;
  row-gap: 16px;
  flex-wrap: wrap;
}

.booking-add-button {
  font-family: "Suisse Intl";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  width: 100%;
}




.button-pic {
  width: 808px;
  margin: 16px 0 64px;
  cursor: pointer;
}