.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-pic {
  width: 100%;
}

.blue-line-pic {
  width: calc(100% - 216px);
  padding: 24px 0 40px;
}